
%form-input {
	display: block;
	margin: 20px auto;
	box-sizing: border-box;
	width: 10em;
	line-height: 2.5em;
	height: 2.5em;
	font-size: 14pt;
	text-align: center;
	border: rgb(153, 153, 153) 1px solid;
	border-radius: 2px;
}

.lobby {
	margin-top: 50px;

	button {
		@extend %form-input;
		background: rgb(226, 226, 226);
	}

	input {
		@extend %form-input;
		background: white;
	}

	.create-panel {
		margin-bottom: 70px;
	}
}
