
.room {
	position: relative;

	.info {
		color: white;
		text-align: center;
		font-size: 10pt;
		margin: 0 0 20px 0;
	}

	.current-state {
		text-align: center;
		line-height: 2em;
	}

	.score-panel {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		display: flex;

		.score-board {
			flex: 1 1 auto;
		}
	}
}
