
body {
	margin: 0;
	padding: 0;
	background: #06141d url(../style/pirates.jpg) no-repeat;
	background-size: 100% auto;
}

body,
input,
textarea,
button {
	font-family: 'Microsoft YaHei', 'SimHei', 'Arial';
}

ul,
ol {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

header {
	padding: 48px 0 18px 0;
	h1 {
		text-align: center;
		img {
			width: 65%;
		}

		margin: 0;
	}
}

#message-box {
	color: white;
	text-align: center;
}

#root {
	min-height:320px;
}

footer {
	font-size: 8pt;
	text-align: right;
	margin: 10px 20px;
	color: lightgray;

	p {
		margin: 0.2em 0;
	}

	ul.dev-info {
		text-transform: uppercase;

		li {
			display: inline;
			margin-left: 0.4em;

			a {
				color: #ddd;
				text-decoration: none;
			}
		}
	}
}
