
.name-card {
	width: 60px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	border-radius: 5px;
	border: #ead4b6 1px solid;
	background: #ebdac2;
	box-shadow: #543304 1px 1px 2px 0;
	margin: 1px;
	font-size: 10pt;
	font-family: 'Microsoft Yahei', 'SimHei', 'Arial';
	color: #543304;
}
